#wrapper{

    background-color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    padding-left: 7%;
    padding: 3%;
    text-align: center;
}

#welcome{

    text-align: center;
    font-size: 200%;
    font-style: italic;
}

ul{

    list-style-type: none;
}

img{

    border: 5px solid blanchedalmond;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
